
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<WebApplication3.Models.Category>

<h2>Create</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form method="post">
                    <label>Product Name</label>
                    <input name="productname" type="text" class="form-control" />
                    <label>Unit Price</label>
                    <input name="unitprice" type="text" class="form-control" />
                    <label>Unit In Stock</label>
                    <input name="unitinstock" type="text" class="form-control" />
                    <label>Category Seçiniz</label>
                    <select name="categoryid">
                        @foreach (WebApplication3.Models.Category item in Model)
                        {
                            <option value="@item.CategoryID">@item.CategoryName</option>
                        }
                    </select>

                    <button type="submit" class="btn btn-success">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>
