<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AktivationApprove</title>
</head>
<body>
    <div> 
        @if (TempData["GecersizAktivasyonLinki"]!=null)
        {
            @TempData["GecersizAktivasyonLinki"].ToString()
        }
    </div>
</body>
</html>
